<app-header-menu #headerRef>
  <!--Label-->
  <h4>Todo list</h4>
</app-header-menu>
<button class="btn btn-secondary m-3" (click)="headerRef.cleanUserName()">Clean user name</button>
<div class="p-3">
  <div class="jumbotron col-12">
    <app-item-list
      [itemListLabel]="itemListLabel"
      #userName
    ></app-item-list>
  </div>

  <div #userName>My User name</div>
  <div>{{userName.textContent}}</div>
</div>

<ng-template #itemListLabel>
  <h4 class="text-center mb-4">Tasks for life</h4>
</ng-template>

