<div class="d-flex mb-2">
  <mat-form-field class="example-full-width">
    <mat-label>New task</mat-label>
    <input matInput placeholder="Enter item name" [(ngModel)]="inputValue">
  </mat-form-field>
  <button
    mat-raised-button
    [disabled]="!inputValue"
    (click)="addItem()"
  >Add</button>
</div>
<div *ngIf="inputValue" class="my-2"><b>New Item:</b> {{inputValue}}</div>
<ul class="list-group mt-2">
  <app-item
    *ngFor="let item of itemList"
    [item]="item"
    (deleteItem)="handleDeleteItem(item)"
    (setDoneItem)="handleSetDone(item)"
    (setImportantItem)="handleSetImportant(item)"
  ></app-item>
</ul>
