<nav class="header-menu navbar navbar-expand-lg navbar-light bg-primary">

  <ng-content></ng-content>

  <div> Hello, {{inputValue}}</div>

<!--  <form class="form-inline my-2 my-lg-0" onsubmit="return false;">-->
  <div class="search-box">
    <input
      class="form-control mr-sm-2"
      type="text"
      [(ngModel)]="inputValue"
      placeholder="User name"
      placeholder="User name"
    >
    <button
      class="btn btn-secondary my-2 my-sm-0"
      type="submit"
    >Add</button>
  </div>
<!--  </form>-->
</nav>
